ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:gainsboro;
    overflow: hidden;
}

li{
    float: left;
}

a{
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 5px;
    display: block;
    width: 120px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
}

p{
    text-decoration: none;
    color: black;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 40px;
    margin-left: 40px;
}






h1{
    padding-left: 20px;
    padding-top: 20px;
}

a:hover{
    background-color:rgba(26, 23, 25, 0.342) ;
}

#header{
    /*background-color: aliceblue;*/
    background-image: url(brazil-flag.png);
    background-size: cover;
    border-radius: 25px;
    
}

#conteudo{
    float: left;
}

#bandeira{
    padding-top: 200px;
    text-align: center;
    float: center;
    width: 100%;
    height: auto;
}


/*comentario*/